/*
 Yes this layout was inspired by lightbox v2.0's page, the reason being, the layout works really well for a doc
 */

* {
	margin: 0;
	padding: 0;
}

body {
	padding: 0;
	margin: 0;
	font-family: "Lucida Grande", Tahoma, sans-serif;
}

form {
	margin: 0;
}

h1 {
	text-align: left;
	font-weight: normal;
	font-size: 180%;
	color: #96BF55;
	margin: 5px 0 15px 0;
}

h1 span {
	clear: both;
	font-size: 60%;
	color: #FF9;
}

h2 {
	text-align: left;
	font-weight: normal;
	font-size: 150%;
	color: #09f;
	margin: 5px 0 15px 0;
}

h2 span {
	clear: both;
	font-size: 70%;
	color: #FF9;
}

h3 {
	clear: both;
	font-size: 120%;
	color: #FF9;
	font-weight: normal;
	margin: 0 0 10px 0;
}

p {
	margin: 0 0 20px 0;
	color: #cccccc;
	font-size: 0.9rem;
	line-height: 1.4rem;
}

p small, li small {
	color: #09F;
	font-size: 100%;
}

.panel {
	overflow-y: auto; 
	width: 600px; 
	height: 165px;
	padding-top: 0;
}

.hidden {
	display: none;
}
