<!--
  To change this template, choose Tools | Templates
  and open the template in the editor.
-->

<%@ page contentType="text/html;charset=UTF-8" %>

<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Importación</title>
  </head>
  <body>
  <g:form method="post" action="comprobar">
									Inicio: <g:textField name="inicio" size="4" maxSize="4" value="${params.inicio}"/><br/>
									Fin: <g:textField name="fin" size="4" maxSize="4" value="${params.fin}"/><br/>
									<span class="button"> 
									<g:actionSubmit class="imp"
											action="comprobar" value="Comprobar" />
									</span>&nbsp;
								</g:form>
								
	<g:each var="ed" in="${faltan.keySet()}">
	<g:if test="${faltan[ed].size()>0}">
	${ed} : ${faltan[ed]}
	<br/>
	</g:if>
	</g:each>
								
  </body>
</html>
